<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DevBook - Atualizar Senha</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.css" />
</head>
<body>
{{ template "cabecalho" }}

<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Atualização de Senha
          </h5>
          <form  id="atualizar-senha-usuario">
            <div class="form-group">
              <label for="senha-atual"  class="form-label" >Senha Atual</label>
              <input type="password" class="form-control" name="senha-atual" id="senha-atual" placeholder="Digite a senha atual" required>
            </div>
            <div class="form-group">
              <label for="nova-senha"  class="form-label" >Nova Senha</label>
              <input type="password" class="form-control" name="nova-senha" id="nova-senha" placeholder="Digite a nova senha" required>
            </div>
            <div class="form-group">
              <label for="confirmar-senha"  class="form-label" >Confirmar Senha</label>
              <input type="password" class="form-control" name="confirmar-senha" id="confirmar-senha" placeholder="Digite a nova senha novamente" required>
            </div>
            <div class="mt-4">
              <button type="submit" class="btn btn-info">Atualizar Senha</button>
            </div>
          </form>
        </div>
      </div>    
    </div>
  </div>
</div>  
{{ template "rodape" }}
{{ template "scripts" }}

  <script src="/assets/js/usuario.js"></script>
</body>
</html>